<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168760344535-7ui8sh9tt891rmcng7ptls1nev5hvk9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168760344535-7ui8sh9tt891rmcng7ptls1nev5hvk9e</string>
	<key>API_KEY</key>
	<string>AIzaSyAFaLTf2YJm8z1SYPQeKZxkg4podnu87zI</string>
	<key>GCM_SENDER_ID</key>
	<string>168760344535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danh.plantapp</string>
	<key>PROJECT_ID</key>
	<string>shopping-cart-9183e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-cart-9183e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168760344535:ios:36cefdc57fa7f5881c1592</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-cart-9183e.firebaseio.com</string>
</dict>
</plist>